<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>QUẢN LÝ ĐƠN HÀNG</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        QUẢN LÝ ĐƠN HÀNG
    </header>

    <main>
        <div class="menu">
            <button onclick="location.href='Products.html'">SẢN PHẨM</button>
            <button onclick="location.href='Orders.html'">ĐƠN HÀNG</button>
            <button onclick="location.href='Sizes.html'">KÍCH THƯỚC</button>
            <button onclick="location.href='Colors.html'">MÀU</button>
        </div>
    </main>

    <footer>
        <small>© 2025 SavourySpringTu</small>
        <small>Email: tuxuanbui1111@gmail.com</small>
    </footer>
</body>
</html>
