<html lang="vi">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chi Tiết Đơn Hàng</title>
        <link rel="stylesheet" href="../css/orderDetail.css">
    </head>
    <body>
        <header>
            <button id="id_exit" onclick="exit()">Thoát</button>
            CHI TIẾT ĐƠN HÀNG
        </header>
        <div class="form-container">
            <div class="form-group">
                <label>Mã đơn hàng</label>
                <input id="ip_id" type="text" readonly="true">
            </div>
            <div class="form-group">
                <label>Khách hàng</label>
                <input id="ip_customer" type="text" readonly="true">
            </div>
            <div class="form-group">        
                <label>Phone</label>
                <input id="ip_phone" type="text" readonly="true">
            </div>
            <div class="form-group">        
                <label>Thời gian</label>
                <input id="ip_time" type="date" readonly="true">
            </div>
            <div class="form-group" id="adress">        
                <label>Địa chỉ</label>
                <input id="ip_adress" type="text" readonly="true">
            </div>
            <div class="form-group" id="status">        
                <label>Trạng thái</label>
                <input id="ip_status" type="text" readonly="true">
            </div>
        </div>

        <div class="variant-container" id="variant-container">
            <div class="form-group">        
                <label>Mã sản phẩm</label>
                <input id="ip_id_variant" type="number" readonly="true">
            </div>
            <div class="form-group">        
                <label>Số lượng</label>
                <input id="ip_quantity" type="number" readonly="true">
            </div>
            <div class="button-container">
                <button id="btn_add" onclick="changeStatusInput(1)">Thêm</button><br></br>
                <button id="btn_save" onclick="insertOrderDetail()" disabled>Lưu</button>
                <button id="btn_print" onclick="printOrderDetail()">IN</button>
            </div>
        </div>
        <table id="orderDetailList">
            <tr>
                <th>Mã Sản Phẩm CT</th>
                <th>Tên Sản Phẩm</th>
                <th>Màu</th>
                <th>Kích thước</th>
                <th>Số Lượng</th>
                <th>Đơn giá</th>
                <th>Tổng</th>
            </tr>
        </table>
        <script src="../javascript/orderDetail.js"></script>

    </body>
</html>
